In [5]:
import pandas as pd

In [6]:
!pwd

/home/dzakirm/Research/Histopathology/histopathology/notebooks

In [7]:
ANNOT_PATH = '../data/interim/HistoHeparTiled.csv'
IMG_PATH = '../data/interim/tiles_preproc/'

In [8]:
ann = pd.read_csv(ANNOT_PATH)
ann

      TreatmentType                        Image  TreatmentSubType
0            HFD10X  Hepar-HFDA151X10-2_T00.tiff               NaN
1            HFD10X  Hepar-HFDA151X10-2_T01.tiff               NaN
2            HFD10X  Hepar-HFDA153X10-1_T11.tiff               NaN
3            HFD10X  Hepar-HFDA151X10-2_T11.tiff               NaN
4            HFD10X  Hepar-HFDA151X10-1_T00.tiff               NaN
...             ...                          ...               ...
21163        ND400X   HeparNDA25.2400x2_T89.tiff               NaN
21164        ND400X    HeparNDA25.1400x_T63.tiff               NaN
21165        ND400X   HeparNDA25.3400x1_T82.tiff               NaN
21166        ND400X   HeparNDA25.3400x2_T68.tiff               NaN
21167        ND400X   HeparNDA25.4400x1_T86.tiff               NaN

[21168 rows x 3 columns]

In [9]:
from pprint import pprint
pprint(ann.Image.unique())

array(['Hepar-HFDA151X10-2_T00.tiff', 'Hepar-HFDA151X10-2_T01.tiff',
       'Hepar-HFDA153X10-1_T11.tiff', ..., 'HeparNDA25.3400x1_T82.tiff',
       'HeparNDA25.3400x2_T68.tiff', 'HeparNDA25.4400x1_T86.tiff'],
      dtype=object)

In [10]:
ann.Image

0        Hepar-HFDA151X10-2_T00.tiff
1        Hepar-HFDA151X10-2_T01.tiff
2        Hepar-HFDA153X10-1_T11.tiff
3        Hepar-HFDA151X10-2_T11.tiff
4        Hepar-HFDA151X10-1_T00.tiff
                    ...
21163     HeparNDA25.2400x2_T89.tiff
21164      HeparNDA25.1400x_T63.tiff
21165     HeparNDA25.3400x1_T82.tiff
21166     HeparNDA25.3400x2_T68.tiff
21167     HeparNDA25.4400x1_T86.tiff
Name: Image, Length: 21168, dtype: object

# Annot Code

In [15]:
import re

def extract_subtreatment(image_name):
    """Extracts the subtreatment category from the image name, excluding numbers after the period."""

    subtreatment_patterns = {
        r"HFDA0": "HFDA0",
        r"HFDA5" : "HFDA5",
        r"HFD101": "HFD10",
        r"HFD15": "HFD15",
        r"HFD20": "HFD20",
        r"HFD25": "HFD25",
        r"HFDNaCl": "HFDNaCl",        
        r"HFDSIMV": "HFDSimvastatin", 
        r"normal": "normal",        
        r"NDA25": "NDA25",
        r'NDA5': "NDA5",
        r'NDA0': "NDA0",
        r"ND": "ND",
        r"HFDK\+": "HFDK+",
    }

    for pattern, subtreatment in subtreatment_patterns.items():
        match = re.search(pattern, image_name, re.IGNORECASE)
        if match:
            return match.group(0)  # Return the matched text itself

    return None  # Return None if no match found

# Example usage (Unchanged from your original)

for image_name in ann.Image:
    subtreatment = extract_subtreatment(image_name)
    if subtreatment:
        ann.loc[ann['Image'] == image_name, 'TreatmentSubType'] = subtreatment

In [20]:
import re

def extract_subtreatment(image_name):
    """Extracts the subtreatment category from the image name, excluding numbers after the period."""
    subtreatment_patterns = {
        r"HFDA0": "HFDA0",
        r"HFDA5": "HFDA5",
        r"HFDA10": "HFDA10",
        r"HFDA15": "HFDA15",
        r"HFDA20": "HFDA20",
        r"HFDA25": "HFDA25",
        r"HFDNaCl": "HFDNaCl",
        r"HFDSIMV": "HFDSimvastatin",
        r"normal": "normal",
        r"NDA25": "NDA25",
        r"NDA5": "NDA5",
        r"NDA0": "NDA0",
        r"ND": "ND",
        r"HFDK\+": "HFDK+",
    }

    for pattern, subtreatment in subtreatment_patterns.items():
        match = re.search(pattern, image_name, re.IGNORECASE)
        if match:
            return subtreatment  # Return the corresponding subtreatment

    return None  # Return None if no match found

# Example usage

for image_name in ann.Image:
    subtreatment = extract_subtreatment(image_name)
    if subtreatment:
        ann.loc[ann['Image'] == image_name, 'TreatmentSubType'] = subtreatment

In [21]:
ann.TreatmentSubType.astype('object')

0        HFDA15
1        HFDA15
2        HFDA15
3        HFDA15
4        HFDA15
          ...
21163     NDA25
21164     NDA25
21165     NDA25
21166     NDA25
21167     NDA25
Name: TreatmentSubType, Length: 21168, dtype: object

In [22]:
ann

      TreatmentType                        Image TreatmentSubType
0            HFD10X  Hepar-HFDA151X10-2_T00.tiff           HFDA15
1            HFD10X  Hepar-HFDA151X10-2_T01.tiff           HFDA15
2            HFD10X  Hepar-HFDA153X10-1_T11.tiff           HFDA15
3            HFD10X  Hepar-HFDA151X10-2_T11.tiff           HFDA15
4            HFD10X  Hepar-HFDA151X10-1_T00.tiff           HFDA15
...             ...                          ...              ...
21163        ND400X   HeparNDA25.2400x2_T89.tiff            NDA25
21164        ND400X    HeparNDA25.1400x_T63.tiff            NDA25
21165        ND400X   HeparNDA25.3400x1_T82.tiff            NDA25
21166        ND400X   HeparNDA25.3400x2_T68.tiff            NDA25
21167        ND400X   HeparNDA25.4400x1_T86.tiff            NDA25

[21168 rows x 3 columns]

In [23]:
transform_hfda = lambda x: 'HFDA' + x[4:6] if x.startswith('HFDA') and len(x) > 4 else x

In [24]:
ann['TreatmentSubType'] = ann['TreatmentSubType'].apply(
    transform_hfda
)

In [25]:
ann.TreatmentSubType.unique()

array(['HFDA15', 'HFDA5', 'HFDA10', 'HFDA25', 'HFDSimvastatin', 'HFDA20',
       'HFDA0', 'HFDK+', 'HFDNaCl', 'normal', 'NDA5', 'ND', 'NDA0',
       'NDA25'], dtype=object)

In [26]:
ann.to_csv("../data/processed/AnnotHepar.csv")